body{
    margin:0;
}

#grid{
    display:grid;
    grid-template-areas:'. login1 logo login2 .';
     grid-template-columns: 25px 435px 1fr 435px 25px;
     grid-template-rows: 656px;
}
.login1{
    grid-area: login1;
    background-color: lightgrey;
    border-bottom-right-radius: 5%;
    border-top-right-radius: 5%;
    border-bottom: 7px solid grey;
    border-right: 4px solid grey;
}
#login1texto1{
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
}
#login1texto1 p{
    font-size: 20pt;
    font-family: 'Roboto';
    color: rgb(245, 134, 52);
    margin-top: 10px;
    margin-bottom: 0px;
    padding-top: 17px;
}
#login1texto2{
    display: flex;
    justify-content: center;
}
#login1texto2 h1{
    margin-top: 0px;
    font-size: 50pt;
    font-family: 'Roboto';
    padding-left: 9px;
    color: rgb(58, 70, 255);
}
.inputlogin1{
    display: flex;
    flex-direction: column;
    padding-left: 30px;

}
.inputlogin1 p{
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 16pt;
    font-family: 'Roboto';
    color: rgb(245, 134, 52);
}
.inputlogin1 input{
    width: 350px;
    height: 24px;
    border-radius: 25px;
    border: none;
}
.inputlogin1 input:focus{
    outline: none;
}
.login1texto3{
    padding-left: 30px;
}
.login1texto3 h1{
    font-family: 'Roboto';
    color: rgb(58, 70, 255);
    font-size: 26pt;
    margin-bottom: 0px;
}
.login1texto3 p{
    font-family: 'Roboto';
    color: rgb(245, 134, 52);
    font-size: 18pt;
    margin-top: 0px;
}
/* DIVISA DIVISA DIVISA DIVISA */
.logo{
    grid-area: logo;
    display:flex;
    justify-content: center;
    flex-direction: column;
}
.logo img{
    height: 230px;
    width: auto;
    padding-top: 20px;
}
#logotexto{
    display: flex;
    display: table-column;
    justify-content: center;
    text-align: center;
}
#logotexto h1{
    font-size: 80px;
    font-family: 'Roboto';
    color: rgb(58, 70, 255);
    padding-left: 7px;
    margin-top:3px;
    margin-bottom:3px;
}
#logotexto p{
    font-size: 30px;
    font-family: 'Roboto';
    color: rgb(245, 134, 52);
    margin-top: 3px;
    padding-bottom: 50px;

}
#imgapp{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#imgapp img{
    display: flex;
    height: auto;
    width: 140px;

}
/* DIVISA DIVISA DIVISA DIVISA */
.login2{
    grid-area: login2;
    background-color: lightgrey;
    border-bottom-left-radius: 5%;
    border-top-left-radius: 5%;
    border-bottom: 7px solid grey;
    border-left: 4px solid grey;
}
#login2texto1{
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
}
#login2texto1 p{
    font-size: 20pt;
    font-family: 'Roboto';
    color: rgb(245, 134, 52);
    margin-top: 10px;
    margin-bottom: 0px;
    padding-top: 17px;
}
#login2texto2{
    display: flex;
    justify-content: center;
}
#login2texto2 h1{
    margin-top: 0px;
    font-size: 50pt;
    font-family: 'Roboto';
    padding-left: 9px;
    color: rgb(58, 70, 255);
}
.inputlogin2{
    display: flex;
    flex-direction: column;
    padding-left: 30px;

}
.inputlogin2 p{
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 16pt;
    font-family: 'Roboto';
    color: rgb(245, 134, 52);
}
.inputlogin2 input{
    width: 350px;
    height: 24px;
    border-radius: 25px;
    border: none;
}
.inputlogin2 input:focus{
    outline: none;
}
.login2texto3{
    padding-left: 30px;
}
.login2texto3 h1{
    font-family: 'Roboto';
    color: rgb(58, 70, 255);
    font-size: 26pt;
    margin-bottom: 0px;
}
.login2texto3 p{
    font-family: 'Roboto';
    color: rgb(245, 134, 52);
    font-size: 18pt;
    margin-top: 0px;
}